@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;

}

main {
    width: 100%;
}

body {
    background-color: #CFDFD2;
    overflow-x: hidden;
    
}

.titulo {
    font-style: italic;
    font-weight: 700;
    color: white;
    font-size: 60px;
    margin: 38px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.titulo:hover {
    color: #8ce2c5;
    font-size: 62px;

}

.logo {
    margin-right: 50px;
}

header {
    background-color: #216551;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;

}

nav {
    background-color: #5EA990;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;

}

nav>a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 100px;
    font-size: 20px;
    transition-duration: 0.5s;

}

a:hover {
    font-size: 22px;
    color: rgb(206, 255, 210);

}

section {
    flex-direction: column;
    padding: 50px;
    text-align: center;
    

}

.secao1-article {
    background-color: #94ccb9;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 50px;
    
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 90%;
  position: relative;
  gap: 20px;
}

.carousel-slide-wrapper {
  overflow: hidden;
  width: 80%;
  border-radius: 25px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #566f63;
  padding: 40px 60px;
  color: white;
  border-radius: 25px;
  gap: 40px;
  box-sizing: border-box;
}


.carousel-item h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.carousel-item p {
  font-size: 25px;
}

.carousel-item img {
  width: 600px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.carousel-item-text {
  flex: 1;
  text-align: left;
}


.arrow {
  background-color: #d1e5da;
  border: none;
  color: #004d3c;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background 0.3s;
}

.arrow:hover {
  background-color: #a7d1bd;
}





.subtitulo-section {
    color: #216551;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}


.titulo-section {
    color: #216551;
    font-size: 50px;
    font-weight: 800;
}

footer{
    height: auto;
    background-color: #216551;
    text-align: center;
    
    padding: 30px 400px;
}

footer > p{
    color: white;
    font-size: 18px;
}




